{% block menu %}
<ul class="menu">
    <li>
        <a href="/">
            MainPage
        </a>
    </li>
    <li>
        <a href="/categories_list">
            Categories
        </a>
    </li>
    <li>
        <a href="/create_category">
            Create category
        </a>
    </li>
    <li>
        <a href="/create_course">
            Create course
        </a>
    </li>
    <li>
        <a href="/contact/">
            Contacts
        </a>
    </li>
    <li>
        <a href="/create_student/">
            Create student
        </a>
    </li>
    <li>
        <a href="/add_student/">
            Add student
        </a>
    </li>
    <li>
        <a href="/students_list/">
            Students list
        </a>
    </li>
</ul>   
{% endblock %}
{% block main %}
{% endblock %}