{% block menu %}
<ul class="menu">
    <li>
        <a href="/">
            MainPage
        </a>
    </li>
    <li>
        <a href="/category_list">
            Categories
        </a>
    </li>
    <li>
        <a href="/create_category">
            Create category
        </a>
    </li>
    <li>
        <a href="/create_course">
            Create course
        </a>
    </li>
    <li>
        <a href="/contact/">
            Contacts
        </a>
    </li>
</ul>   
{% endblock %}
{% block main %}
{% endblock %}